// //////// RAISIN //////// //

-
  var school = {
    'ufora': 'ufora.ugent.be',
    'mail': 'outlook.office.com',
    'sharepoint': 'ugentbe-my.sharepoint.com',
    'bib': 'lib.ugent.be'
  }

  var reddit = {
    '/r Selfhosted': 'reddit.com/r/selfhosted/',
    '/r Startpages': 'reddit.com/r/startpages/',
    '/r Truenas': 'reddit.com/r/truenas/',
    '/r James Hoffman': 'reddit.com/r/JamesHoffmann/',
    '/r 3d printing': 'reddit.com/r/3Dprinting/'
  }

  var css = {
    'fancy borders': '9elements.github.io/fancy-border-radius',
    'transform visualizer': 'css-transform.moro.es',
    'css doodle': 'css-doodle.com',
    'css stats': 'cssstats.com'
  }

  var fonts = {
    'type scale': 'type-scale.com',
    'fonts in use': 'fontsinuse.com',
    'font joy': 'fontjoy.com',
    'zenigata': 'typo.zenigata.fr'
  }


mixin raisin(title, data)
  raisin
    raisin-header
      p.raisin-title #{title}
    raisin-links
      each val, key in data
        a.raisin-link(href="https://" + val, target='_blank', rel='noopener noreferrer') #{key}
