include myrtille/myrtille
include raisin/raisin

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='robots', content='noindex')
  link(href='./index.css', rel='stylesheet', type='text/css')
  link(rel='shortcut icon', href='../assets/icons/logo/logo.svg')
  script(type='module', src='./index.js')
  title Pomme Page

grid
  include clock/clock

  pomme

  include search/search

  pomme

  +myrtille('reddit.com', '0 0 24 24', 'M11.238 15.348a.215.215 0 010 .306c-.465.462-1.194.687-2.231.687l-.008-.002-.008.002c-1.036 0-1.766-.225-2.231-.688a.214.214 0 010-.305.219.219 0 01.307 0c.379.377 1.008.561 1.924.561l.008.002.008-.002c.915 0 1.544-.184 1.924-.561a.219.219 0 01.307 0zm-3.44-2.418a.922.922 0 00-1.845 0c0 .506.414.918.923.918a.92.92 0 00.922-.918zM24 12c0 6.627-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0s12 5.373 12 12zm-5-.129a1.548 1.548 0 00-2.624-1.108c-1.056-.695-2.485-1.137-4.066-1.194l.865-2.724 2.343.549-.003.034c0 .696.569 1.262 1.268 1.262.699 0 1.267-.566 1.267-1.262a1.266 1.266 0 00-2.446-.458l-2.525-.592a.216.216 0 00-.257.145l-.965 3.038c-1.656.02-3.155.466-4.258 1.181A1.546 1.546 0 005 11.871c0 .566.311 1.056.768 1.325-.03.164-.05.331-.05.5 0 2.281 2.805 4.137 6.253 4.137s6.253-1.856 6.253-4.137c0-.16-.017-.317-.044-.472.486-.261.82-.766.82-1.353zm-4.872.141a.921.921 0 00-.922.919.921.921 0 001.844 0 .921.921 0 00-.922-.919z')

  +myrtille('facebook.com/', '0 0 24 24', 'M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z')

  +myrtille('youtube.com/', '0 0 1024 1024', 'M512 0c282.58 0 512 229.42 512 512 0 282.58-229.42 512-512 512C229.42 1024 0 794.58 0 512 0 229.42 229.42 0 512 0zm270 422.988C782 370.563 739.437 328 687.012 328c0 0-116.66-4-175.012-4-58.671 0-177.012 4-177.012 4C282.563 328 240 370.563 240 422.988c-2.846 35.406-3.728 73.675-3.728 106.012 0 29.364 1.527 58.716 3.728 88.012C240 669.437 282.563 712 334.988 712c0 0 118.341 4 177.012 4 58.352 0 175.012-4 175.012-4C739.437 712 782 669.437 782 617.012c0 0 2-72.675 2-105.012 0-29.678-2-89.012-2-89.012zM461 444l147 86-146.012 84L461 444z')

  +myrtille('192.168.0.18:32400/', '0 0 512 512', 'M76.8,0h358.4C477.6,0,512,34.4,512,76.8v358.4c0,42.4-34.4,76.8-76.8,76.8H76.8C34.4,512,0,477.6,0,435.2V76.8 C0,34.4,34.4,0,76.8,0z M256,70H148l108,186L148,442h108l108-186L256,70z')

  include binance/binance

  +myrtille('192.168.0.18/admin', '0 0 24 24', 'M5.6,2c3.9,0,5.9,2.3,6.2,5.9c0.7-4.4,4.2-3.8,4.2-3.8c0.2,2.5-1.9,4-4.2,4.1c-0.7-1.4-4.5-4.7-4.5-4.7c0,0,3.7,3.3,3.6,4.7\n' +
  '  \tC8.3,7.9,5.8,6,5.6,2 M6.1,13.1l3.9-3.9c1.2-1.2,3.1-1.2,4.2,0l3.8,3.9c1.2,1.2,1.2,3.1,0,4.2l-3.8,3.9c-1.2,1.2-3.1,1.2-4.2,0\n' +
  '  \tl-3.9-3.9C4.9,16.2,4.9,14.3,6.1,13.1 M9.4,19.6c0-1.2,0.8-2.7,2.7-2.7c1.3,0,2.8,1.2,4.2,1.1c-1.4,0-2.7-1.1-2.7-2.8\n' +
  '  \tc0-1.3,1.1-2.3,1.1-3.8c-0.1,1-0.9,2.4-2.7,2.4c-1.4,0-2.4-1.1-4.1-1.1c0.7,0,2.6,0.7,2.6,2.7C10.5,17,9.4,17.5,9.4,19.6')

  include openweather/openweather

  +myrtille('outlook.live.com/', '0 0 512 512', 'M496,112H288V32c0-4.8-2.1-9.3-5.8-12.3c-3.6-3-8.5-4.4-13.2-3.4l-256,48C5.5,65.7,0,72.3,0,80v352\n' +
  '  \tc0,7.7,5.5,14.3,13.1,15.7l256,48c1,0.2,2,0.3,2.9,0.3c3.7,0,7.3-1.3,10.2-3.7c3.7-3,5.8-7.6,5.8-12.3v-80h208c8.8,0,16-7.2,16-16\n' +
  '  \tV128C512,119.2,504.8,112,496,112z M144,368c-44.1,0-80-43.1-80-96s35.9-96,80-96s80,43.1,80,96S188.1,368,144,368z M288,144h161.4\n' +
  '  \tl-98.3,76.4L288,180.4V144z M480,368H288V218.3l55.4,35.2c2.6,1.7,5.6,2.5,8.6,2.5c3.5,0,6.9-1.1,9.8-3.4L480,160.7V368z M144,208\n' +
  '  \tc26.5,0,48,28.7,48,64s-21.5,64-48,64s-48-28.7-48-64S117.5,208,144,208z')

  include unsplash/unsplash

  +myrtille('overseerr.mborri.duckdns.org/', '0 0 21 21', 'M13.65,4.29c-0.82-0.05-1.64,0.05-2.48,0.07c0.04-0.11,0.12-0.12,0.19-0.14c0.64-0.23,1.28-0.42,1.97-0.38\n' +
  '  \tc0.05,0,0.13,0.03,0.15-0.03c0.03-0.07-0.04-0.11-0.08-0.15c-0.19-0.2-0.41-0.32-0.7-0.31c-1.77,0.01-3.44,0.42-5.07,1.1\n' +
  '  \tC6.64,4.85,5.81,5.51,4.94,6.12C3.9,6.85,3.01,7.72,2.28,8.76C1.49,9.88,1,11.12,0.88,12.49c-0.04,0.46-0.06,0.91,0,1.37\n' +
  '  \tc0.01,0.05,0.02,0.1-0.03,0.16c-0.2-0.42-0.34-0.84-0.46-1.27c-0.31-1.08-0.44-2.19-0.37-3.31c0.15-2.27,0.94-4.28,2.45-5.99\n' +
  '  \tC4.08,1.6,6.1,0.48,8.51,0.12c2.25-0.34,4.38,0.05,6.37,1.16c1.07,0.6,1.99,1.38,2.79,2.31c0.18,0.21,0.18,0.25-0.09,0.31\n' +
  '  \tc-1.44,0.31-2.78,0.88-4.05,1.59c-0.79,0.44-1.62,0.83-2.31,1.43c-0.13,0.11-0.26,0.23-0.38,0.36c-0.1,0.1-0.15,0.08-0.17-0.06\n' +
  '  \tc-0.03-0.16-0.08-0.31-0.16-0.45c-0.03-0.05-0.07-0.1-0.13-0.07c-0.07,0.02-0.06,0.08-0.04,0.14c0.16,0.54-0.01,1.03-0.24,1.57\n' +
  '  \tc-0.04-0.25,0.04-0.45,0.04-0.67c-0.11,0.06-0.11,0.14-0.13,0.2C9.95,8.22,9.88,8.5,9.85,8.78c-0.09,0.69-0.3,1.34-0.56,1.97\n' +
  '  \tc-0.04,0.11-0.1,0.21-0.22,0.28c0.23-0.86,0.3-1.72,0.16-2.65C9.1,8.67,9.24,8.91,9.19,9.15C9.14,9.38,9.13,9.63,8.96,9.82\n' +
  '  \tC8.9,9.5,9.03,9.18,8.99,8.83c-0.11,0.05-0.1,0.14-0.11,0.22c-0.11,0.67-0.25,1.33-0.43,1.99c-0.13,0.49-0.42,0.89-0.71,1.29\n' +
  '  \tc-0.77,1.07-1.8,1.84-3.01,2.35c-0.23,0.1-0.43,0.06-0.64-0.03c-0.95-0.44-1.35-1.26-1.14-2.35c0.16-0.83,0.52-1.58,0.89-2.32\n' +
  '  \tc0.46-0.92,1.1-1.7,1.82-2.42c0.33-0.33,0.72-0.6,1.02-0.95c0.65-0.75,1.59-0.88,2.45-1.18c0.45-0.16,0.92-0.26,1.38-0.39\n' +
  '  \tc0.05-0.02,0.15-0.01,0.13-0.1c-0.02-0.07-0.1-0.03-0.15-0.02c-0.18,0.03-0.35,0.07-0.53,0.1C9.9,5.03,9.82,5.08,9.79,4.99\n' +
  '  \tc-0.02-0.09,0.07-0.08,0.13-0.1c0.39-0.1,0.78-0.2,1.18-0.26c0.73-0.1,1.45-0.21,2.18-0.32C13.4,4.3,13.53,4.38,13.65,4.29z\n' +
  '  \t M16.52,5.82c-1.07,0.52-2.17,0.98-3.23,1.54c-0.34,0.18-0.69,0.36-1,0.6c-0.16,0.12-0.16,0.26,0,0.39\n' +
  '  \tc0.13,0.11,0.27,0.09,0.41,0.06c0.88-0.18,1.77-0.32,2.68-0.33c0.41,0,0.8,0.15,1.22,0.09c0.06-0.01,0.12,0.03,0.16,0.08\n' +
  '  \tc0.11,0.12,0.26,0.16,0.41,0.17c0.12,0.01,0.25,0.02,0.37,0.04c0.09,0.01,0.16,0.05,0.05,0.14c-0.09,0.07-0.03,0.13,0.03,0.17\n' +
  '  \tc0.12,0.08,0.24,0.16,0.37,0.24c0.08,0.05,0.17,0.09,0.21,0.19c0.11,0.35,0.15,0.69-0.01,1.03c-0.21,0.44-0.52,0.8-0.85,1.15\n' +
  '  \tc-0.46,0.5-1,0.89-1.53,1.31c-1.22,0.99-2.33,2.11-3.52,3.14c-0.27,0.24-0.54,0.48-0.87,0.68c0.01-0.11,0.12-0.15,0.1-0.28\n' +
  '  \tc-0.35,0.26-0.69,0.49-0.97,0.81c0.14-0.02,0.21-0.14,0.35-0.15c0,0.06-0.04,0.08-0.07,0.1c-0.69,0.56-1.4,1.09-2.12,1.6\n' +
  '  \tc-0.47,0.33-0.96,0.6-1.49,0.8c-0.05,0.02-0.14,0.04-0.13,0.12c0.01,0.07,0.09,0.07,0.15,0.09c1.26,0.36,2.55,0.48,3.85,0.33\n' +
  '  \tc1.88-0.21,3.58-0.9,5.08-2.07c1.36-1.07,2.38-2.39,3.05-3.99c0.69-1.65,0.93-3.37,0.7-5.15c-0.2-1.55-0.73-2.97-1.59-4.27\n' +
  '  \tc-0.09-0.13-0.17-0.16-0.31-0.1c-0.24,0.1-0.48,0.19-0.72,0.28c-0.05,0.02-0.11,0.03-0.11,0.1c0.03,0.03,0.06,0.03,0.1,0.02\n' +
  '  \tc0.22-0.03,0.44-0.07,0.66-0.1c0.06-0.01,0.14-0.02,0.16,0.06c0.02,0.07-0.07,0.08-0.11,0.1c-0.04,0.02-0.07,0.04-0.11,0.05\n' +
  '  \tc-0.62,0.26-1.24,0.53-1.87,0.75c-0.05,0.02-0.14,0.03-0.11,0.12c0.02,0.06,0.09,0.05,0.15,0.04c0.05-0.01,0.1-0.04,0.16-0.06\n' +
  '  \tc0.25-0.09,0.5-0.16,0.76-0.19C16.85,5.67,16.68,5.74,16.52,5.82z M12.13,10.29c0.03-0.03,0.09-0.06,0.05-0.12\n' +
  '  \tc-0.02-0.04-0.07-0.03-0.11-0.02c-0.23,0.03-0.45,0.06-0.68,0.09c-0.13,0.02-0.28,0.03-0.33-0.1c-0.1-0.22-0.29-0.27-0.48-0.36\n' +
  '  \tc-0.14-0.06-0.18-0.02-0.22,0.11c-0.23,0.8-0.55,1.55-0.89,2.31c-0.37,0.83-0.81,1.61-1.44,2.27c-1.06,1.11-2.37,1.75-3.87,2.06\n' +
  '  \tc-0.61,0.13-1.21,0.16-1.77-0.19c-0.03-0.02-0.06-0.03-0.09,0.01c0.01,0.07,0.08,0.11,0.12,0.16c0.34,0.4,0.72,0.77,1.12,1.12\n' +
  '  \tc0.75,0.64,1.59,1.16,2.5,1.56c0.11,0.05,0.19,0.04,0.28-0.04c0.21-0.19,0.44-0.36,0.66-0.54c0.08-0.07,0.15-0.14,0.22-0.22\n' +
  '  \tc0.07-0.07,0.15-0.16,0.07-0.25c-0.07-0.09-0.17-0.02-0.25,0c-0.06,0.02-0.11,0.05-0.17,0.08c-0.26,0.15-0.5,0.32-0.73,0.51\n' +
  '  \tC6.07,18.75,6,18.81,5.96,18.73c-0.04-0.06,0.02-0.1,0.06-0.14c0.02-0.02,0.04-0.04,0.06-0.05c1.27-0.99,2.54-1.98,3.81-2.96\n' +
  '  \tc0.7-0.54,1.43-1.06,2.12-1.62c1.13-0.91,2.2-1.89,3.28-2.86c0.26-0.24,0.45-0.49,0.5-0.85c0.02-0.17-0.02-0.28-0.18-0.38\n' +
  '  \tc-0.31-0.2-0.64-0.1-0.95-0.06c-0.93,0.11-1.83,0.4-2.71,0.72c-0.07,0.03-0.14,0.09-0.27,0.02C11.84,10.45,12.01,10.41,12.13,10.29z\n' +
  '  \t M5.83,7.05c-0.39,0.29-0.76,0.6-1.11,0.94C4.34,8.35,4.08,8.8,3.82,9.25c-0.36,0.63-0.62,1.28-0.84,1.96\n' +
  '  \tc-0.04,0.13-0.07,0.26-0.11,0.39c0.02,0.01,0.04,0.01,0.05,0.02c0.38-0.84,0.7-1.72,1.25-2.47C4.73,8.4,5.34,7.7,5.98,7.01\n' +
  '  \tC5.9,6.98,5.87,7.03,5.83,7.05z M1.71,10.47c-0.61,1.32-0.64,2.69-0.29,4.08c0.04,0.14,0.06,0.29,0.19,0.42\n' +
  '  \tc0.05-0.16-0.03-0.27-0.06-0.38c-0.13-0.61-0.11-1.23-0.04-1.84c0.09-0.7,0.05-1.42,0.29-2.1c0.09-0.23,0.16-0.47,0.23-0.71\n' +
  '  \tC2.06,9.86,2.11,9.8,2.06,9.69C1.9,9.95,1.83,10.22,1.71,10.47z M10.63,16.31c-0.82,0.54-1.61,1.13-2.41,1.7\n' +
  '  \tc-0.54,0.39-1.04,0.83-1.61,1.18c-0.04,0.02-0.08,0.04-0.06,0.09c0.03,0.06,0.09,0.06,0.14,0.04c0.18-0.06,0.34-0.15,0.5-0.26\n' +
  '  \tc1.1-0.72,2.12-1.55,3.15-2.38c0.17-0.14,0.37-0.26,0.53-0.46C10.74,16.22,10.69,16.27,10.63,16.31z M2.77,8.72\n' +
  '  \tC2.86,8.7,2.9,8.62,2.96,8.57c0.76-0.7,1.41-1.52,2.26-2.14C5.31,6.36,5.38,6.26,5.4,6.13C4.87,6.27,2.8,8.32,2.77,8.72z\n' +
  '  \t M10.08,16.05c-0.78,0.52-1.56,1.03-2.33,1.55c-0.08,0.05-0.26,0.08-0.19,0.19c0.06,0.11,0.23,0.03,0.34-0.01\n' +
  '  \tc0.03-0.01,0.06-0.03,0.09-0.05c0.64-0.44,1.27-0.89,1.87-1.38c0.14-0.11,0.29-0.21,0.37-0.38C10.17,16,10.12,16.02,10.08,16.05z\n' +
  '  \t M2.05,13.53c0-0.47,0.07-0.93,0.08-1.4c-0.4,0.61-0.36,2.35,0.07,2.77C2.11,14.45,2.05,13.99,2.05,13.53z M13.67,6.94\n' +
  '  \tc0.21-0.09,0.42-0.18,0.62-0.28c0.46-0.22,0.92-0.44,1.38-0.66c0.06-0.03,0.17-0.06,0.13-0.15c-0.04-0.09-0.14-0.03-0.2-0.01\n' +
  '  \tc-0.17,0.06-0.35,0.13-0.52,0.21c-0.57,0.27-1.11,0.58-1.68,0.92C13.53,7.02,13.6,6.97,13.67,6.94z M2.19,10.35\n' +
  '  \tc0.48-0.6,0.93-1.21,1.25-1.91C2.83,8.94,2.43,9.59,2.19,10.35z M6.44,14.18c-0.02,0.03-0.06,0.08-0.01,0.11\n' +
  '  \tc0.05,0.03,0.09-0.01,0.13-0.04c0.22-0.22,0.45-0.43,0.65-0.66c0.13-0.15,0.29-0.27,0.34-0.48C7.15,13.44,6.75,13.77,6.44,14.18z\n' +
  '  \t M10.14,9.54c0.02-0.08-0.02-0.15-0.09-0.16c-0.09-0.01-0.09,0.08-0.1,0.13c-0.08,0.31-0.15,0.62-0.22,0.93\n' +
  '  \tc-0.02,0.11-0.08,0.22-0.01,0.41C9.9,10.38,10.02,9.96,10.14,9.54z M16.91,9.1c-0.03,0.1,0.07,0.1,0.12,0.13\n' +
  '  \tc0.15,0.09,0.3,0.18,0.45,0.26c0.04,0.02,0.09,0.09,0.14,0.04c0.05-0.04,0.01-0.11-0.01-0.16c-0.06-0.19-0.27-0.32-0.54-0.33\n' +
  '  \tC17.03,9.05,16.94,9.02,16.91,9.1z M12.14,9.29c0.02-0.04,0-0.07-0.03-0.09c-0.2-0.13-0.41-0.26-0.64-0.33\n' +
  '  \tc-0.04-0.01-0.08-0.02-0.11,0.03c-0.02,0.04,0,0.07,0.02,0.09c0.16,0.2,0.37,0.33,0.63,0.35C12.06,9.33,12.12,9.34,12.14,9.29z\n' +
  '  \t M3.17,15.32c0.03,0,0.07-0.01,0.09-0.03c0.03-0.03,0-0.07-0.03-0.09c-0.21-0.16-0.42-0.32-0.65-0.5\n' +
  '  \tC2.59,15.09,2.85,15.35,3.17,15.32z M10.97,4.15c0.03-0.02,0.06-0.04,0.05-0.08c-0.02-0.06-0.07-0.04-0.1-0.03\n' +
  '  \tc-0.3,0.06-0.6,0.13-0.9,0.19C10.36,4.42,10.66,4.31,10.97,4.15z')

  +myrtille('192.168.0.18:7878/', '0 0 1024 1024', 'M17.61,0h1024v1024h-1024V0z M192.91,175.94l7.52,714.55c-60.17,7.52-105.3-22.57-105.3-82.74l-7.52-594.21\n' +
  '  \tc0-188.04,173-233.17,278.3-157.95l534.03,308.38c75.22,52.65,90.26,150.43,52.65,218.12c-7.52-52.65-30.09-82.74-75.22-112.82\n' +
  '  \tL275.65,130.81C230.52,100.73,192.91,108.25,192.91,175.94z M147.78,928.1c45.13,15.04,90.26,7.52,127.87-15.04l616.77-361.04\n' +
  '  \tc37.61,52.65,30.09,105.3-15.04,135.39L358.39,988.27C283.17,1025.88,185.39,988.27,147.78,928.1z M328.3,717.5l368.56-210.6\n' +
  '  \tL335.82,303.81L328.3,717.5z')

  +myrtille('192.168.0.18:8989/', '0 0 228 228', 'M216.7,108.45c0,29.83-10.53,55.4-31.6,76.7c-0.7,0.83-1.48,1.6-2.35,2.3c-3.47,3.4-7.13,6.48-11,9.25\n' +
  '  \tc-18.27,13.47-39.37,20.2-63.3,20.2c-23.97,0-45.03-6.73-63.2-20.2c-4.8-3.4-9.3-7.25-13.5-11.55\n' +
  '  \tc-16.37-16.27-26.42-35.17-30.15-56.7c-0.73-4.2-1.22-8.47-1.45-12.8c-0.1-2.4-0.15-4.8-0.15-7.2c0-2.53,0.05-4.95,0.15-7.25\n' +
  '  \tc0-0.23,0.07-0.47,0.2-0.7c1.57-26.6,12.03-49.58,31.4-68.95C53.05,10.52,78.62,0,108.45,0c29.93,0,55.48,10.52,76.65,31.55\n' +
  '  \tC206.17,52.98,216.7,78.62,216.7,108.45L216.7,108.45z M194.65,42.5l-22.4,22.4C159.15,78,158,89.4,158,109.5\n' +
  '  \tc0,17.93,2.85,34.35,16.2,47.7c9.75,9.75,19,18.95,19,18.95c-2.5,3.07-5.2,6.07-8.1,9c-0.7,0.83-1.48,1.6-2.35,2.3\n' +
  '  \tc-2.53,2.5-5.17,4.82-7.9,6.95l-17.55-17.55c-15.6-15.6-28-17.1-48.6-17.1c-19.77,0-33.22,1.82-47.7,16.3\n' +
  '  \tc-8.65,8.65-18.55,18.6-18.55,18.6c-3.77-2.87-7.33-6.03-10.7-9.5c-2.8-2.8-5.42-5.67-7.85-8.6c0,0,9.8-9.85,19.15-19.2\n' +
  '  \tc13.85-13.85,16.1-29.92,16.1-47.85c0-17.5-2.87-33.82-15.6-46.55c-8.83-8.84-21.05-21-21.05-21c2.83-3.6,5.92-7.07,9.25-10.4\n' +
  '  \tc2.93-2.87,5.93-5.55,9-8.05L61.1,43.85c13,13,29.67,16.35,47.6,16.35c18.47,0,35.08-3.58,48.6-17.1\n' +
  '  \tc8.32-8.32,19.3-19.25,19.3-19.25c2.9,2.37,5.73,4.93,8.5,7.7C188.57,35.08,191.75,38.73,194.65,42.5z M78.7,114\n' +
  '  \tc-0.2-1.17-0.33-2.35-0.4-3.55c-0.03-0.67-0.05-1.33-0.05-2c0-0.7,0.02-1.37,0.05-2c0-0.07,0.02-0.13,0.05-0.2\n' +
  '  \tc0.43-7.37,3.33-13.73,8.7-19.1c5.9-5.83,12.98-8.75,21.25-8.75c8.3,0,15.38,2.92,21.25,8.75c5.83,5.93,8.75,13.03,8.75,21.3\n' +
  '  \ts-2.92,15.35-8.75,21.25c-0.2,0.23-0.42,0.45-0.65,0.65c-0.97,0.93-1.98,1.78-3.05,2.55c-5.07,3.73-10.92,5.6-17.55,5.6\n' +
  '  \ts-12.47-1.87-17.5-5.6c-1.33-0.93-2.58-2-3.75-3.2C82.52,125.2,79.73,119.97,78.7,114z M157.8,59.75l-15,14.65 M30.78,32.53\n' +
  '  \tl40.87,40.72 M156.25,157.5l27.81,28.78 M185.91,32.39L157.8,59.75 M32.35,185.75l27.35-27.4 M157.8,59.75l-16.95,17.2 M58.97,60.6\n' +
  '  \tl17.2,17.15 M59.62,158.43l16.75-17.4 M138.3,139.63l18.03,17.95')

  include stormglass/stormglass

  +myrtille('twitter.com/', '0 0 64 64', "M6 9c-2.5 6.1-2.8 11.8 3 17-2.049.038-3.5-.409-5-1 .1 6.1 3.2 10.2 10 12-2.069.767-4.067.743-6 0 2.5 5.7 6.2 9.3 12 9-5.1 4.1-11.1 5.95-18 6 17.1 9.7 34.4 4.9 43-4 7.8-8.2 14.74-21.2 12-29 .9.246 6.305-5.8 6-6a57.81 57.81 0 01-7 2c2.5-1.9 4.1-4.3 5-7a30.6 30.6 0 01-8 3c-3.5-4-8.6-4.4-14-3-7.5 2-7.9 14.1-7 14 .0 2.8-27.9-6.3-26-13z")

  +myrtille('192.168.0.18;8181', '0 0 300 300', 'M241.81,215.25c-10.93,0-20.38,6.38-24.81,15.62l-39.38-5.71c-0.14-15.07-12.39-27.24-27.49-27.24\n' +
  '  \tc-5.38,0-10.4,1.55-14.65,4.23l-55.96-63.41c3.22-4.51,5.13-10.02,5.13-15.98c0-15.19-12.31-27.5-27.5-27.5s-27.5,12.31-27.5,27.5\n' +
  '  \ts12.31,27.5,27.5,27.5c4.68,0,9.08-1.17,12.93-3.23l56.56,64.09c-2.54,4.17-4.01,9.06-4.01,14.31c0,15.19,12.31,27.5,27.5,27.5\n' +
  '  \tc10.87,0,20.27-6.31,24.73-15.47l39.46,5.73c0.23,14.99,12.44,27.07,27.49,27.07c15.19,0,27.5-12.31,27.5-27.5\n' +
  '  \tS257,215.25,241.81,215.25z M241.81,29.75c-15.19,0-27.5,12.31-27.5,27.5c0,7.48,2.99,14.26,7.84,19.22l-60.94,86.11\n' +
  '  \tc-3.39-1.49-7.13-2.33-11.08-2.33c-15.19,0-27.5,12.31-27.5,27.5c0,2.7,0.4,5.31,1.12,7.78L77.45,224.2\n' +
  '  \tc-5.03-5.5-12.26-8.95-20.3-8.95c-15.19,0-27.5,12.31-27.5,27.5s12.31,27.5,27.5,27.5s27.5-12.31,27.5-27.5\n' +
  '  \tc0-2.63-0.38-5.16-1.06-7.57l46.4-28.72c5.02,5.41,12.19,8.79,20.15,8.79c15.19,0,27.5-12.31,27.5-27.5c0-6.7-2.4-12.84-6.38-17.61\n' +
  '  \tl61.51-86.92c2.84,0.99,5.88,1.53,9.05,1.53c15.19,0,27.5-12.31,27.5-27.5S257,29.75,241.81,29.75z')

  +myrtille('arte.tv/', '0 0 1024 1024', "M512 0c282.5 0 512 229.4 512 512 0 282.5-229.4 512-512 512C229.4 1024 0 794.5 0 512 0 229.4 229.4 0 512 0zm308 738V412c-.361-131.8-217.3-152.1-326-148-100.9 3.898-266.6 33.276-278 198h222c2.52-33.8 28.338-51.5 76-54 43.294-.074 70.5 12.3 76 42 3.6 26.2-17.6 42.4-70 46-108.9 7.2-230.2 31.9-280 70-50 38.2-80.7 118.464-6 174h228c-18.3-25.2-31.6-57.2-14-76 21.3-22.6 53.4-36.9 142-60v134h230z")

  +myrtille('tutanota.com/', '0 0 64 64', "M32 0c17.6 0 32 14.3 32 32S49.6 64 32 64 0 49.6 0 32 14.3 0 32 0zm18 40.602c.054.209.056.349 0 .398v-.398c-.363-1.396-3.061-5.86-6-6.602-3.831-.968-13-2.833-14-4-1-1.167 7-2.1 8-3 .724-.6-1.8-2-2-2-.167 0 1.6 1.6 1 2-1.833.833-11.6 1.3-12 3-.3 1.6 11.2 3.7 10 7-1.5 4.1-20.79 11.8-21 11V15h36v25.602z")

  pomme

  +raisin('dev', dev)

  +raisin('colors', colors)

  +raisin('css', css)

  +raisin('fonts', fonts)

  +myrtille('twitch.com/', '0 0 24 24', "M2.149 0L.537 4.119v16.836h5.731V24h3.224l3.045-3.045h4.657l6.269-6.269V0H2.149zm19.164 13.612l-3.582 3.582H12l-3.045 3.045v-3.045H4.119V2.149h17.194v11.463zm-3.582-7.343v6.262h-2.149V6.269h2.149zm-5.731 0v6.262H9.851V6.269H12z")

  pomme

  pomme
